body{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    background-image: linear-gradient( 
115deg
, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),
url(girl/img_girl.jpg)
}
h3 {
    font-weight: 300;
    line-height: 0.60cm;
    font-size: 25px;
    margin-left: 500px;
    font-family: 'Courier New', Courier, monospace;
}
h5 {
    font-style: italic;
    font-size: 15px;
    color: rgb(206, 202, 202);
    margin-left: 500px;
}

.header {
    margin: 10px;
}

form{
    background-color: rgba(31, 18, 48, 0.9);
    color: #fff;
    padding: 10px;
    border: rgb(17, 17, 17);
    border-radius: 8px;
    position: relative;
    display: inline-block;
    margin-left: 500px;
}
.form{
    margin: 0 auto 1.25rem auto;
    padding: 5px;
    align-content: center;
}
.form-get{
    display: block;
    width: 100%;
    height: auto;
    padding: 4px 0;
    color: rgb(15, 10, 19);
    background-color: #fff;
    border: 2px solid rgb(54, 52, 52);
    border-radius: 2%;
}
.radio{
    display: inline-block;
    margin-right: 2%;
    min-height: 2px;
    min-width: 2px;

}
.checkbox{
    display: inline-block;
    margin-right: 2%;
    min-height: 2px;
    min-width: 2px;

}

.textarea{
    height: 75px;
    width: 500px;
    padding: 20px 0;
    resize: vertical;
}
.submit-button{
    display: block;
    width: 100%;
    background: green;
    color: #fff;

}